<!Doctype HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" >
    <title>Праздник к нам приходит!</title>
    <link  href="{{ url_for('static', path='/main.css') }}" rel="stylesheet" type="text/css"/>
    <!--    <link href="{{ url_for('static', path='src/static/main.css') }}" rel="stylesheet">-->
</head>
<body>
<header></header>
<h1>Тайный Санта в компании Прайм!</h1>
<h4>Коллеги, мы начинаем игру в Тайного Санту. Вам достаточно выбрать себя в списке ниже и нажать кнопку
    "Отправить".</h4>
<h4>Вы случайным образом получите имя человека, которому будете дарить подарок.</h4>
<h4>Правила просты:</h4>
<h4>1. Выбираем подарок на сумму примерно 1000 рублей</h4>
<h4>2. Наклеиваем стикер с именем человека на подарок</h4>
<h4>3. В день корпоратива берем подарки с собой, вручение состоится на корпоративе</h4>
<h4>Главное - сохранить интригу и не раскрыться до начала вручения подарков.</h4>
<h1>До встречи на корпоративе!</h1>

<h4>
    <form method="get" action="/post_name" target="dummyframe">
        <select name="name" required>

            <option disabled>Найди себя и жми на кнопку</option>
            <option>Азаркевич Алевтина Борисовна</option>
            <option>Баранова Ольга Владимировна</option>
            <option>Власов Александр Сергеевич</option>
            <option>Гришина Диана Евгеньевна</option>
            <option>Дёмин Александр Арсеньевич</option>
            <option>Калина Дарина Андреевна</option>
            <option>Кацалова Олеся Петровна</option>
            <option>Келина Дарья Ильинична</option>
            <option>Ким Алексей Родионович</option>
            <option>Климушкин Кирилл Александрович</option>
            <option>Ковалева Юлия Алексеевна</option>
            <option>Костеж Андрей Михайлович</option>
            <option>Луканкина Кристина Андреевна</option>
            <option>Малинкина Екатерина Сергеевна</option>
            <option>Нечипоренко Сергей Павлович</option>
            <option>Перфилова Вероника Владимировна</option>
            <option>Процкая Дарья Игоревна</option>
            <option>Рыбин Александр Олегович</option>
            <option>Рыжова Екатерина Викторовна</option>
            <option>Сирик Ирина Алексеевна</option>
            <option>Степаев Кирилл Сергеевич</option>
            <option>Филиппов Андрей Валерьевич</option>
            <option>Фроленко Кристина Валерьевна</option>
            <option>Чичерский Семён Михайлович</option>
        </select>
        <input type="submit" value="Отправить"/>
    </form>
    <div class="otvet">
        <iframe name="dummyframe" id="dummyframe" frameborder="no" width="500" height="500"></iframe>
    </div>
</h4>
</body>
</html>